# Python Control Flows
* Scientific computing with Python relies heavily on control flow structures like **if** statements, **else** clauses, and **loops** to manipulate data, perform calculations, and control the flow of execution.
* These control flow structures are fundamental for writing efficient and readable code in scientific computing tasks such as data analysis, simulation, and visualization.
* These control flows include **if-elif-else** statements and **loops**.

## 1. If-Elif-Else Statements
* If statements are used to make decisions based on conditions.
* They allow your program to execute certain blocks of code only if certain conditions are true.

In [1]:
# Example 1: Simple if statement
x = 10
if x > 0:
    print("x is positive")

x is positive

In [3]:
# Example 1a: Simple if statement
x = -4
if x < 0:
    print("x is negative")

x is negative

In [4]:
# Example 2: If-else statement
temperature = 25
if temperature > 30:
    print("It's hot outside")
else:
    print("It's not too hot")

It's not too hot

In [5]:
# Example 2a: If-else statement
temperature = 36
if temperature > 30:
    print("It's hot outside")
else:
    print("It's not too hot")

It's hot outside

In [6]:
# Example 3: If-elif-else statement
grade = 85
if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
else:
    print("Fail")

B

In [10]:
# Example 4: If-elif-else statement

score = float(input("Enter your score: "))

if score >= 70:
    print("Your grade is A")
elif score >= 60:
    print("Your grade is B")
elif score >= 50:
    print("Your grade is C")
elif score >= 45:
    print("Your grade is D")
else:
    print("Your grade is F")

Enter your score:  100

Your grade is A

## 2. Loops
* Loops are used to repeat a block of code multiple times. 
* They are crucial for iterating over data structures, performing repetitive tasks, and implementing algorithms.
* **While** and **For** Loops are two common loops in Python.

### 2.1. While Loop
While loops repeatedly execute a block of code as long as the specified condition is true.

In [11]:
# Example 1: Simple while loop
count = 0 # Initialization
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [13]:
# Example 1a: Simple while loop
count = 1 # Initialization
while count < 51:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [14]:
# Example 2: Print all odd numbers less than 50
i = 1 #Initialization
while i < 50:
    print(i)
    i += 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [15]:
# Example 3: Using while loop for countdown
countdown = 5
while countdown > 0:
    print(countdown)
    countdown -= 1
print("Blastoff!")

5
4
3
2
1
Blastoff!

In [18]:
# Example 4: Using while loop to find factorial
num = 5
factorial = 1
while num > 0:
    factorial *= num
    print(factorial)
    num -= 1
print()
print("Factorial:", factorial)

5
20
60
120
120

Factorial: 120

### 2.2. For Loop
For loops iterate over a sequence (such as a list, tuple, or string) and execute the block of code for each item in the sequence.

In [19]:
# Example 1: Simple for loop
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [20]:
# Example 1a: Simple for loop
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    print(i)

1
2
3
4
5

In [21]:
# Example 2: Using range() function
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
# Example 2a: Using range() function
for i in range(500):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499

In [23]:
# Example 3: Nested for loop
for i in range(3): # [0,1,2]
    for j in range(2): # [0,1]
        print(f"({i}, {j})")

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)

In [24]:
# Example 4: Loop to print 12 times tables

for j in range(1, 13):
        result = 12*j
        print(f"12 x {j} = {result}")

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [25]:
# Example 5: Nested loop to print 1-12 times tables

for j in range(1, 13):
    for k in range(1, 13):
        result = j * k
        print(f"{j} x {k} = {result}")
    print()  # Print an empty line after each set of times table

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [26]:
# Example 4: Using for loop with dictionary
student_grades = {"Alice": 85, "Bob": 70, "Charlie": 95}

for name, grade in student_grades.items():
    print(f"{name}'s grade is {grade}")

Alice's grade is 85
Bob's grade is 70
Charlie's grade is 95

In [27]:
# Example 5: Using for loop with list comprehension
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num**2 for num in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [31]:
# Example 5: Using for loop with list comprehension
x_values = [-5, -4, -3, -2, -2, 0, 1, 2, 3, 4, 5]
y_values = [(5*x)+6 for x in x_values]
print(y_values)

[6, 2, 0, 0, 0, 6, 12, 20, 30, 42, 56]

In [ ]:
# Example 6: Print the elements of a list
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)